body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



/* Default styles */
body {
    color: #333; /* Default text color */
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #333; /* Text color in dark mode */
}

#toggleMode {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #000000; /* Add any background color you want */
    z-index: 1000; /* Ensure it is above other elements */
}